<table>
    <input type="text" [formControl]="controlSearch"> Search
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>BirthDate</th>
        <th>Phone Number</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of users">
            <td>{{item.firstName}}</td>
            <td>{{item.age}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.birthDate}}</td>
            <td>{{item.phone}}</td>
            <td>Edit</td>
        </tr>
    </tbody>
</table>
<div class="buttn">
    <button (click)="skipProductDown(page)"><</button>
    <h3>{{page}}</h3>
    <button (click)="skipProductUp(page)">></button>
</div>