<div class="second">
    <h2>Список</h2>
    <ol class="list">
        <li (click)="page('products')">Products</li>
        <li (click)="page('category')">Category</li>
        <li (click)="page('users')">Users</li>
    </ol>
</div>
<div class="main">
    <h2>Справочник</h2>
    <app-products *ngIf="service.pages === 'products'"></app-products>
    <app-category *ngIf="service.pages === 'category'"></app-category>
    <app-users *ngIf="service.pages === 'users'"></app-users>
    <app-create-prod *ngIf="service.pages === 'create'"></app-create-prod>
    <app-edit-prod *ngIf="service.pages === 'edit'"></app-edit-prod>
</div>
